h1 {
    text-align: center;
    color:#17bdc3;
}

body {
    text-align: center;
    background-color: rgb(229, 232, 148);
    margin: 20px 10%;
    padding: 1px;
}
h2 {
    text-align: center;
    color:#3aad0d;
}
pre {
    text-align: right;

}
